<!--transactionType: DraftTransaction.TransactionTypeEnum;-->
<!--date?: string;-->
<!--token1?: string;-->
<!--token2?: string;-->
<!--tokenFee?: string;-->
<!--amount1: number;-->
<!--amount2: number;-->
<!--amountFee: number;-->

<div class="container">
  <span>{{transaction.date}}</span>
  <span>{{transaction.transactionType}}</span>
  <span>{{transaction.amount1}}</span>
  <span>{{transaction.token1}}</span>
  <span>{{transaction.amount2}}</span>
  <span>{{transaction.token2}}</span>
  <span>{{transaction.amountFee}}</span>
  <span>{{transaction.tokenFee}}</span>
  <span>{{transaction.externalId}}</span>
  <mat-slide-toggle>Toggle me!</mat-slide-toggle>

</div>
