<input [(ngModel)]="dateTimeField.value!.date"
       [ngClass]="{'read-only': !editMode, 'edit-mode': editMode, 'invalid':dateTimeField.isDateInvalid()}"
       [readonly]="!editMode" class="input-type-date" id="date"
       name="date"
       required
       type="date"
       (blur)="save(dateTimeField)"
>
<input [(ngModel)]="dateTimeField.value!.time"
       [ngClass]="{'read-only': !editMode, 'edit-mode': editMode, 'invalid':dateTimeField.isTimeInvalid()}"
       [readonly]="!editMode"
       class="input-type-date"
       id=time required
       step="0.001"
       type="time"
       (blur)="save(dateTimeField)">

<select *ngIf="editMode" [(ngModel)]="transactionTypeField.value" [disabled]="!editMode"
        [ngClass]="{'read-only': !editMode, 'edit-mode': editMode, 'invalid':transactionTypeField.isInvalid()}"
        id="transactionType"
        name="transactionType" required
        (blur)="save(transactionTypeField)">
  <option *ngFor="let transactionType of transactionTypes" [value]="transactionType">{{ transactionType }}</option>
</select>
<div *ngIf="!editMode" class="read-only center" id="transactionType-read-only">
  <span>{{ transaction.transactionType }}</span>
</div>

<div class="value">
  <input [(ngModel)]="valueInField.value!.amount"
         [ngClass]="{'read-only': !editMode, 'edit-mode': editMode, 'invalid':valueInField.isAmountInvalid()}"
         [readonly]="!editMode" class="amount" id="amountIn" name="amountIn" required type="number"
         (blur)="save(valueInField)">

  <input [(ngModel)]="valueInField.value!.token"
         [ngClass]="{'read-only': !editMode, 'edit-mode': editMode, 'invalid':valueInField.isTokenInvalid()}"
         [readonly]="!editMode" class="token" id="tokenIn" name="tokenIn" required type="text"
         (blur)="save(valueInField)">
</div>
<div class="value">
  <input [(ngModel)]="valueOutField.value!.amount"
         [ngClass]="{'read-only': !editMode, 'edit-mode': editMode, 'invalid':valueOutField.isAmountInvalid()}"
         [readonly]="!editMode" class="amount" id="amountOut" name="amountOut" required type="number"
         (blur)="save(valueOutField)">

  <input [(ngModel)]="valueOutField.value!.token"
         [ngClass]="{'read-only': !editMode, 'edit-mode': editMode, 'invalid':valueOutField.isTokenInvalid()}"
         [readonly]="!editMode" class="token" id="tokenOut" name="tokenOut" required type="text"
         (blur)="save(valueOutField)">
</div>
<div class="value">
  <input [(ngModel)]="valueFeeField.value!.amount"
         [ngClass]="{'read-only': !editMode, 'edit-mode': editMode, 'invalid':valueFeeField.isAmountInvalid()}"
         [readonly]="!editMode" class="amount" id="amountFee" name="amountFee" required type="number"
         (blur)="save(valueFeeField)">

  <input [(ngModel)]="valueFeeField.value!.token"
         [ngClass]="{'read-only': !editMode, 'edit-mode': editMode, 'invalid':valueFeeField.isTokenInvalid()}"
         [readonly]="!editMode" class="token" id="tokenFee" name="tokenFee" required type="text"
         (blur)="save(valueFeeField)">
</div>
<input [(ngModel)]="externalIdField.value"
       [ngClass]="{'read-only': !editMode, 'edit-mode': editMode, 'invalid': externalIdField.isInvalid()}"
       [readonly]="!editMode" id="externalId" name="externalId"
       required type="text" (blur)="save(externalIdField)">

<div (click)="submitTransaction()" *ngIf="editMode" class="button-icon" role="button" tabindex="0">
  <fa-icon [icon]="faCheck"></fa-icon>
</div>
<div (click)="editTransaction()" *ngIf="!editMode" class="button-icon" role="button" tabindex="0">
  <fa-icon [icon]="faEdit"></fa-icon>
</div>
<div (click)="delete()" class="button-icon" role="button" tabindex="0">
  <fa-icon [icon]="faTrash"></fa-icon> <!-- Updated to use faTrash for deletion -->
</div>
