.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.mat-mdc-select {
  width: 300px; /* Set your desired width */
}


input {
  background-color: rgb(29, 30, 30);
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(217, 245, 248, 1);
  text-align: center;
}
