<form [formGroup]="txForm" (ngSubmit)="onSubmit()" class="tx-simplified">

  <div class="foldable-container" (click)="open()" [ngClass]="{'open': !isCollapsed, 'closed': isCollapsed}">
    <div class="not-collapsed-content" [ngClass]="{'open': !isCollapsed, 'closed': isCollapsed}">
      <label for="date">On</label>
      <input id="date" formControlName="date" type="date" class="minimal-input">
      <label for="time">at</label>
      <input id="time" formControlName="time" type="time" step="1" class="minimal-input">

      <br class="mobile-break">

      <label for="type">I</label>
      <app-dropdown id="type"
                    [options]="[{value:'BUY', label:'bought'}, {value:'SELL', label:'sold'}]" formControlName="type"
                    class="minimal-input">
      </app-dropdown>


      <!--      amount-->
      <input formControlName="amount"
             type="number" class="minimal-input number-input"
             [ngClass]="{'input-error': invalidAndTouched('amount'),
              'missing-input': invalidAndNotTouched('amount')}">
      <!--      Token-->
      <!--      <input formControlName="token" type="text" class="minimal-input"-->
      <!--             [ngClass]="{'input-error': invalidAndTouched('token'),-->
      <!--              'missing-input': invalidAndNotTouched('token')}">-->

      <mat-form-field class="example-full-width">
        <div class="input-container">
          <input type="text" matInput formControlName="token" [formControl]="tokenControl" [matAutocomplete]="auto">
          <fa-icon class="add-token"
                   *ngIf="txForm.get('token')?.hasError('invalidString')"
                   [icon]="faPlus" (click)="addToken()"></fa-icon>
        </div>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          @for (option of filteredOptions | async; track option) {
            <mat-option [value]="option">{{ option.name }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>

      <br class="mobile-break">

      <label for="dollarValue">for</label>

      <!--      dollarValue-->
      <input id="dollarValue" formControlName="dollarValue"
             type="number" class="minimal-input number-input"
             [ngClass]="{'input-error': invalidAndTouched('dollarValue'),
              'missing-input': invalidAndNotTouched('dollarValue')}">

      <label>USD</label>

      <button class="btn-transparent" type="submit" [disabled]="txForm.invalid">
        I confirm
      </button>
    </div>
    <div class="colapsed-content" [ngClass]="{'open': !isCollapsed, 'closed': isCollapsed}">
      <div class="left-colapsed-content">
        <ng-container *ngIf="!isValid; else placeholder">
          <fa-icon class="warning-icon" [icon]="faWarning"></fa-icon>
        </ng-container>
        <ng-template #placeholder>
          <div class="icon-placeholder"></div>
        </ng-template>
      </div>
      <div class="right-colapsed-content">
        <span>{{ txForm.value.date }}</span>
        <div class="second-line">
          <span> {{ txForm.value.type === 'BUY' ? 'Buy' : 'Sell' }}</span>
          <span> {{ txForm.value.amount }} {{ txForm.value.token?.name }} ({{ txForm.value.token?.ticker }})</span>
        </div>
      </div>
      <div class="far-right-colapsed-content">
      </div>

    </div>

  </div>


</form>
