<form [formGroup]="txForm" (ngSubmit)="onSubmit()" class="tx-simplified">

  <div class="foldable-container" (click)="open()" [ngClass]="{'open': !isCollapsed, 'closed': isCollapsed}">
    <div class="not-collapsed-content" [ngClass]="{'open': !isCollapsed, 'closed': isCollapsed}">
      <label for="date">On</label>
      <input id="date" formControlName="date" type="date" class="minimal-input">
      <label for="time">at</label>
      <input id="time" formControlName="time" type="time" step="1" class="minimal-input">

      <br class="mobile-break">

      <label for="type">I</label>
      <select id="type" formControlName="type" class="minimal-input">
        <option value="BUY">bought</option>
        <option value="SELL">sold</option>
      </select>

      <!--      amount-->
      <input formControlName="amount"
             type="number" class="minimal-input number-input"
             [ngClass]="{'input-error': invalidAndTouched('amount'),
              'missing-input': invalidAndNotTouched('amount')}">
      <!--      token-->
      <input formControlName="token" type="text" class="minimal-input"
             [ngClass]="{'input-error': invalidAndTouched('token'),
              'missing-input': invalidAndNotTouched('token')}">

      <br class="mobile-break">

      <label for="dollarValue">for</label>

      <!--      dollarValue-->
      <input id="dollarValue" formControlName="dollarValue"
             type="number" class="minimal-input number-input"
             [ngClass]="{'input-error': invalidAndTouched('dollarValue'),
              'missing-input': invalidAndNotTouched('dollarValue')}">

      <label>USD</label>

      <button class="btn-transparent" type="submit" [disabled]="txForm.invalid">
        I confirm
      </button>
    </div>
    <div class="colapsed-content" [ngClass]="{'open': !isCollapsed, 'closed': isCollapsed}">
      <div class="left-colapsed-content">
        <ng-container *ngIf="!isValid; else placeholder">
          <fa-icon class="warning-icon" [icon]="faWarning"></fa-icon>
        </ng-container>
        <ng-template #placeholder>
          <div class="icon-placeholder"></div>
        </ng-template>
      </div>
      <div class="right-colapsed-content">
        <span>{{ txForm.value.date }}</span>
        <div class="second-line">
          <span> {{ txForm.value.type === 'BUY' ? 'Buy' : 'Sell' }}</span>
          <span> {{ txForm.value.amount }} {{ txForm.value.token }}</span>
        </div>
      </div>
      <div class="far-right-colapsed-content">
      </div>

    </div>

  </div>


</form>
