.tx-simplified {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: Pacifico, "Roboto Light", serif;
  font-size: 1rem;

  .foldable-container {
    background-color: #fffdfd;
    border-radius: 15px;
    box-shadow: #000000 0 0 5px 0;
    padding: 5px;
    opacity: 1;
    transition: width 0.5s ease-in-out;


    &.open {
      width: 80vw;
    }

    &.closed {
      width: 50vw;
    }
  }

  .colapsed-content {

    &.closed {
      visibility: visible;
    }

    &.open {
      visibility: hidden;
      height: 0;
    }
  }

  .not-collapsed-content {
    &.closed {
      visibility: hidden;
      height: 0;
    }

    &.open {
      display: block;
    }
  }


  .colapsed-content {
    display: flex;
    flex-direction: row;
  }

  .not-collapsed-content {
  }

  .left-colapsed-content {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .right-colapsed-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .far-right-colapsed-content {
    width: 10%;
  }


  .number-input {
    width: 50px;
    text-align: center;
  }

  .mobile-break {
    display: none; /* Hide on non mobile devices */
  }

  @media (max-width: 768px) {
    .mobile-break {
      display: block; /* Show on mobile devices */
    }
  }
  label {
    padding: 0 8px
  }

  input, select {
    font-size: 12px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
  }

  .input-error {
    border-bottom: 1px solid red;
  }

  .missing-input {
    border-bottom: 1px solid #3e40f4;
  }

  .check-icon {
    margin-left: 20px;
    color: #0f7300;
    font-size: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
  }

  .warning-icon {
    color: #ff7a2d;
    font-size: 18px;
    border: none;
    background-color: transparent;
    padding: 0;

  }

  .icon-placeholder {
    width: 18px;
    height: 18px;
  }

}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

select {
  -webkit-appearance: none; /* Chrome, Safari, Opera */
  -moz-appearance: none; /* Firefox */
  appearance: none; /* Default */
  background: none; /* Remove background */
  padding-right: 20px; /* Ensure space for custom arrow, if needed */
}

input:focus,
select:focus,
textarea:focus {
  outline: none; /* Remove the default outline */
  border: none; /* Remove the border */
}


.input-container {
  display: flex;
  flex-direction: row;
}

.add-token {
  cursor: pointer;
  color: #ff0000;
}
