.tx-simplified {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: Pacifico, "Roboto Light", serif;
  font-size: calc(5px + 2vmin);

  .foldable-container {
    background-color: #fffdfd;
    border-radius: 15px;
    box-shadow: #000000 0 0 5px 0;
    padding: 5px;
    opacity: 1;
    transition: width 0.5s ease-in-out;


    &.open {
      width: 80vw;
    }

    &.closed {
      width: 50vw;
    }
  }

  .colapsed-content {

    &.closed {
      visibility: visible;
    }

    &.open {
      visibility: hidden;
      height: 0;
    }
  }

  .not-collapsed-content {
    &.closed {
      visibility: hidden;
      height: 0;
    }

    &.open {
      display: block;
    }
  }


  .colapsed-content {
    display: flex;
    flex-direction: row;
  }



  .left-colapsed-content {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .right-colapsed-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .far-right-colapsed-content {
    width: 10%;
  }


  .number-input {
    width: 50px;
    text-align: center;
  }

}
.not-collapsed-content {
}

.warning-icon {
  color: #ff7a2d;
  font-size: 18px;
  border: none;
  background-color: transparent;
  padding: 0 5px 0 0;

}
.title {
  display: flex;
  flex-direction: row;
  width: 80px
}
.icon-placeholder {
  width: 23px;
  height: 18px;
}

.input-container {
  display: flex;
  flex-direction: row;
}

.add-token {
  cursor: pointer;
  color: #0048ff;
}

.token-form {
  display: flex;
  flex-direction: column;
}

.right-align {
  text-align: right;
}

mat-form-field {
  width: 150px;
}

.tx-overview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: calc(5px + 2vmin);
  width: 100%;
}
.pnl-container{
}

.Buy {
  color: #059f00;
}

.Sell {
  color: #a80000;
}
.positive {
  color: #059f00;
}
.negative {
  color: #a80000;
}

.value-container {
  display: flex;
  flex-direction: column;
}

.tx-description-left {
  display: flex;
  flex-direction: column;

  .date {
    font-size: calc(5px + 1vmin);
  }

}

.fiat-value {
  font-size: calc(5px + 1vmin);
}
