@import "variables";

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  background: $background-color;
  padding: 20px;
  border-radius: 5px;
  z-index: 1001;
  box-shadow: 6px 6px 10px rgba(255, 255, 255, 0.3);
}
