// _nav-theme.scss

@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  mat-sidenav {
    background-color: mat.get-theme-color($theme, primary, 95) !important;
    border-right: 1px solid mat.get-theme-color($theme, primary, 90) !important;
  }
  mat-sidenav-content {
    background-color: mat.get-theme-color($theme, primary, 98) !important;
  }

  mat-toolbar {
    background-color: mat.get-theme-color($theme, primary, 95) !important;
    border-bottom: 1px solid mat.get-theme-color($theme, primary, 90) !important;
  }
}


@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}
