@use 'sass:map';
@use '@angular/material' as mat;
@use './m3-theme' as theme; // Adjust the path as needed


$background-color: rgb(227, 222, 222);
$font-color: rgb(44, 43, 43);

$green-from-theme: mat.get-theme-color(theme.$light-theme, secondary, 50);
$red-from-theme: mat.get-theme-color(theme.$light-theme, error, 50);
$blue-from-theme: mat.get-theme-color(theme.$light-theme, primary, 35);


$secondary-20: mat.get-theme-color(theme.$light-theme, secondary, 20);

$secondary-0: mat.get-theme-color(theme.$light-theme, secondary, 0);
$secondary-10: mat.get-theme-color(theme.$light-theme, secondary, 10);
$secondary-20: mat.get-theme-color(theme.$light-theme, secondary, 20);
$secondary-25: mat.get-theme-color(theme.$light-theme, secondary, 25);
$secondary-30: mat.get-theme-color(theme.$light-theme, secondary, 30);
$secondary-35: mat.get-theme-color(theme.$light-theme, secondary, 35);
$secondary-40: mat.get-theme-color(theme.$light-theme, secondary, 40);
$secondary-50: mat.get-theme-color(theme.$light-theme, secondary, 50);
$secondary-60: mat.get-theme-color(theme.$light-theme, secondary, 60);
$secondary-70: mat.get-theme-color(theme.$light-theme, secondary, 70);
$secondary-80: mat.get-theme-color(theme.$light-theme, secondary, 80);
$secondary-90: mat.get-theme-color(theme.$light-theme, secondary, 90);
$secondary-95: mat.get-theme-color(theme.$light-theme, secondary, 95);
$secondary-98: mat.get-theme-color(theme.$light-theme, secondary, 98);
$secondary-99: mat.get-theme-color(theme.$light-theme, secondary, 99);
$secondary-100: mat.get-theme-color(theme.$light-theme, secondary, 100);





