@use 'sass:map';
@use '@angular/material' as mat;
@use './m3-theme' as theme; // Adjust the path as needed


$background-color: rgb(227, 222, 222);
$font-color: rgb(44, 43, 43);

$green-from-theme: mat.get-theme-color(theme.$light-theme, secondary, 50);
$red-from-theme: mat.get-theme-color(theme.$light-theme, error, 50);
$blue-from-theme: mat.get-theme-color(theme.$light-theme, primary, 35);


