@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;

}

body {
  background: rgb(34, 193, 195);
  background: linear-gradient(45deg, rgba(34, 193, 195, 1) 9%, rgba(0, 0, 0, 1) 100%);
  color: #fff; /* White text color */
  font-family: 'Satoshi', sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn-green{
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: $font-color;
  font-size: 16px;
  cursor: pointer;
}

.btn-transparent {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: $font-color;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 20px;

  &:hover:not(:disabled) {
    border: 2px solid rgba(255, 255, 255, 0.7);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6; /* Visually indicate that the button is disabled */
  }


}
