@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: white;
  //background: linear-gradient(90deg, rgba(34, 193, 195, 1) 9%, rgba(0, 0, 0, 1) 100%);
  color: $font-color;
  font-family: 'Satoshi', sans-serif;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn-green{
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: $font-color;
  font-size: 16px;
  cursor: pointer;
}

.btn-transparent {
  border-radius: 20px;
  //background-color: rgba(0, 0, 0, 0.1);
  border: 1.5px solid $font-color;
  color: $font-color;
  font-size: 12px;
  cursor: pointer;
  padding: 5px 10px;
  background-color: transparent;
  transition: box-shadow 0.3s ease;


  &:hover:not(:disabled) {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6; /* Visually indicate that the button is disabled */
  }


}

li {
  list-style: none;
}
