@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: white;
  //background: linear-gradient(90deg, rgba(34, 193, 195, 1) 9%, rgba(0, 0, 0, 1) 100%);
  color: $font-color;
  font-family: 'Satoshi', sans-serif;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn-green{
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: $font-color;
  font-size: 16px;
  cursor: pointer;
}

.btn-transparent {
  border-radius: 20px;
  //background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid black;
  color: $font-color;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 10px;

  &:hover:not(:disabled) {
    border: 1px solid rgba(255, 255, 255, 0.7);
    background-color: rgb(186, 27, 27);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6; /* Visually indicate that the button is disabled */
  }


}
