.toast-container {
  position: fixed;
  top: 70px;
  right: 20px;
  z-index: 10000;
}

.toast {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.toast.success {
  background-color: #28a745;
}

.toast.error {
  background-color: #dc3545;
}

.toast.info {
  background-color: #17a2b8;
}

.toast.warning {
  background-color: #ffc107;
}
