@use '@angular/material' as mat;

$theme: mat.define-theme();

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Space between buttons */
  margin-bottom: 24px; /* Space below the button group */
}

.btn-secondary {
  @include mat.button-color($theme, $color-variant: primary);
}
