<div class="container">
  <div class="button-group">
    <button mat-raised-button color="primary" (click)="openFilter()" class="filter-btn">
      <mat-icon>tune</mat-icon>
      Filter
    </button>
    <div class="button-group-right">
      <button mat-raised-button color="secondary" (click)="newTx()">
        <mat-icon>add</mat-icon>
        Add Transaction
      </button>
      <button mat-raised-button color="secondary" (click)="importTx()">
        <mat-icon>file_upload</mat-icon>
        Import
      </button>
    </div>

  </div>
  <mat-progress-bar *ngIf="isLoading" mode="query"></mat-progress-bar>
  <mat-chip-set *ngIf="filterService.filterUpdated$ | async as filters" class="filter-section">
    <mat-chip *ngFor="let f of filters">
      <span>{{ f.displayValue }}</span>
      <button matChipRemove (click)="f.removeFunction()">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
  </mat-chip-set>
  <div *ngIf="!isLoading" class="tx-list">
    <div *ngFor="let mtx of mtxs" class="mtx-item">
      <mat-icon (click)="deleteMtx(mtx)">delete_outlined</mat-icon>
      <app-master-tx-entry [masterTransaction]="mtx" class="mtx-entry"></app-master-tx-entry>
    </div>
  </div>
</div>


