@use '@angular/material' as mat;

$theme: mat.define-theme();

.container {
  margin-right: 40px;
  margin-top: 10px;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Space between buttons */
  margin-bottom: 10px; /* Space below the button group */
  justify-content: flex-end;
}

mat-progress-bar {
  margin: 100px auto auto;
  width: 60%;
}
