h1 {
  font-family: Pacifico, "Roboto Light", serif !important;
  font-size: 2rem;
  padding: 0 0 5px 10px;
  margin: auto;
}

.mat-toolbar {
  border-bottom: 1px solid #0048ff;
  border-radius: 50px;
}



