h1 {
  font-family: Pacifico, "Roboto Light", serif !important;
  font-size: 2rem;
  padding: 0 0 5px 10px;
  margin: auto;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.navbar-item {
  cursor: pointer;
}

