@import 'variables';

.tx-entry {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: Pacifico, "Roboto Light", serif;

}

.input-container {
  display: flex;
  flex-direction: row;
}

.add-token {
  cursor: pointer;
  color: $green-from-theme;
}


mat-form-field {
  width: 150px;
}

.submit-button {
}

.line-gap {
  margin-bottom: 5px;
}
