<form [formGroup]="txForm" (ngSubmit)="onSubmit()" class="tx-entry">

  <!--                        -->
  <!--         DATE           -->
  <!--                        -->
  <mat-form-field appearance="outline" class="line-gap">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date">
    <mat-datepicker-toggle matIconPrefix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <!--                        -->
  <!--         TIME           -->
  <!--                        -->
  <mat-form-field appearance="outline" class="line-gap">
    <mat-label>Time</mat-label>

    <input formControlName="time" matInput id="settime" type="time" step="1" placeholder="start date"/>
  </mat-form-field>


  <!--                        -->
  <!--         ACTION         -->
  <!--                        -->
  <mat-form-field appearance="outline" class="line-gap">
    <mat-label>Action</mat-label>
    <mat-select formControlName="type" id="">
      @for (action of actions; track action) {
        <mat-option [value]="action.value">{{ action.text }}</mat-option>
      }
    </mat-select>
  </mat-form-field>


  <!--                        -->
  <!--         AMOUNT         -->
  <!--                        -->
  <mat-form-field floatLabel="auto" appearance="outline" class="line-gap">
    <mat-label>Amount</mat-label>
    <input formControlName="amount"
           matInput type="number" class="right-align" placeholder="0.00"/>
    <mat-error *ngIf="txForm.get('amount')?.hasError('notNegative')">
      Cannot be negative
    </mat-error>
  </mat-form-field>

  <!--                        -->
  <!--         TOKEN          -->
  <!--                        -->
  <mat-form-field floatLabel="auto" appearance="outline" class="line-gap">
    <mat-label>Token</mat-label>

    <div class="input-container">
      <input type="text" matInput formControlName="token"
             [formControl]="tokenControl" [matAutocomplete]="auto">

      <fa-icon class="add-token"
               *ngIf="txForm.get('token')?.hasError('noString')"
               [icon]="faPlus" (click)="addToken()"></fa-icon>
    </div>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      @for (option of filteredOptions | async; track option) {
        <mat-option [value]="option">{{ option.name }}</mat-option>
      }
    </mat-autocomplete>
    <mat-error *ngIf="txForm.get('token')?.hasError('noString')">
      Token missing, create with + button
    </mat-error>
  </mat-form-field>


  <!--                        -->
  <!--      PRICE      -->
  <!--                        -->
  <mat-form-field floatLabel="auto" appearance="outline" class="line-gap">
    <mat-label>Price</mat-label>
    <input formControlName="price"
           matInput type="number" class="right-align" placeholder="0.00"/>
    <mat-error *ngIf="txForm.get('price')?.hasError('notNegative')">
      Cannot be negative
    </mat-error>
    <span matIconPrefix>
      <mat-icon aria-hidden="false" aria-label="Dollar symbol" fontIcon="attach_money"></mat-icon>
    </span>
  </mat-form-field>


  <!--                        -->
  <!--       SUBMIT           -->
  <!--                        -->
  <button mat-raised-button
          color="secondary"
          aria-label="submit"
          type="submit" [disabled]="txForm.invalid" class="btn-primary submit-button">
    <mat-icon>check_circle</mat-icon>
    Confirm
  </button>
</form>


