@use '@angular/material' as mat;

.import-options {
  padding: 16px;
}

.import-card {
  width: 90%;
  height: 90%;
  padding: 24px;
  cursor: pointer;
}

mat-card-title {
  font-size: 1.2rem;
  margin-bottom: 8px;
  text-align: center;
}

mat-card-content {
  font-size: 0.9rem;
  text-align: justify;
}

.dialog-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.address-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
}

mat-dialog-content > form {
  height: 100%;
}

.input-field-width {
  width: 250px !important;
}