<div class="container">

    <div *ngIf="transactions.length === 0; else elseTemplate" class="empty-tx">

        <span class="empty-tx-txt" >No transactions yet</span>
        <div>

            <app-standard-button (clicked)="addTransaction()" [ngStyle]="{'margin': '20px'}">Add Transaction</app-standard-button>
            <app-standard-button (clicked)="importFile()" [ngStyle]="{'margin': '20px'}">Import</app-standard-button>
        </div>

    </div>
    <ng-template #elseTemplate>

        <div class="tx-list-container">
            <app-standard-button (clicked)="importFile()" class="btn-import-tx" [ngStyle]="{'padding-bottom': '10px'}" >Import</app-standard-button>
            <div class="tx-list-table">
                <app-transaction-list-header/>
                <ng-container *ngFor="let tx of transactions" class="tx-item">
                    <app-transaction-item [transaction]="tx"></app-transaction-item>
                </ng-container>

            </div>
        </div>
    </ng-template>


</div>
