<div class="container">

  <div *ngIf="isImportOpen">
    <app-file-upload (closeModal)="isImportOpen = false"
                     (upload)="importTransactions($event)"
    ></app-file-upload>
  </div>
  <button (click)="isImportOpen = true" class="btn-green btn-import">Import transactions</button>

  <div *ngIf="transactions.length === 0; else elseTemplate"  class="empty-tx">

      <span>No transactions yet</span>
      <button (click)="addTransaction()" class="btn btn-add-tx btn-green">Add Transaction</button>
  </div>
  <ng-template #elseTemplate>
    <div class="tx-list-container">
      <app-transaction-list-header/>
      <ng-container *ngFor="let tx of transactions" class="tx-item">
        <app-transaction-item [transaction]="tx"></app-transaction-item>
      </ng-container>

    </div>
  </ng-template>


</div>
