@import "variables";

.transaction-info{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 1.5vw;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.token-value {
  color: $secondary-30;
  font-size: min(calc(2px + 1vw), 16px);
  line-height: 1;
  text-align: center;
}

.fiat-value {
  font-size: min(calc(2px + 1vw), 12px);
  line-height: 0.8;
  color: $secondary-10;
  text-align: center;
}

.token-icon {
  width: min(calc(16px + 2vw), 36px);
  height: min(calc(16px + 2vw), 36px);
}

.first-line {
  display: flex;
  flex-direction: row;
  align-items: center;
}
