<div class="master-transaction">


  <mat-accordion>
    <mat-expansion-panel [(expanded)]="isExpanded" (expandedChange)="onExpandedChange($event)">
      <mat-expansion-panel-header>

        <mat-panel-description>
          <ng-container *ngIf="!isValid(); else placeholder">
            <fa-icon class="warning-icon" [icon]="faWarning"></fa-icon>
          </ng-container>
          <ng-template #placeholder>
            <div class="icon-placeholder"></div>
          </ng-template>
          <div class="tx-overview">

            <div class="tx-description-left">


              <span class="{{getType()}} action">{{ getType() }}</span>
              <span class="date">{{ getDateTimeAtLocalFormat() }}</span>
            </div>
            <div class="tx-description-center">
              <div class="fee-container">
                <ng-container *ngFor="let info of feeSummary">
                  <app-tx-info [txInfo]="info" [size]="10"></app-tx-info>
                </ng-container>
              </div>
              <div class="swap-container">
                <div class="out-side">
                  <ng-container *ngFor="let info of outSummary">
                    <app-tx-info [txInfo]="info"></app-tx-info>
                  </ng-container>
                  <span *ngIf="!outSummary">-</span>

                </div>
                <span class="for">for</span>
                <div class="in-side">

                  <ng-container *ngFor="let info of inSummary">
                    <app-tx-info [txInfo]="info"></app-tx-info>
                  </ng-container>
                  <span *ngIf="!inSummary">-</span>

                </div>
              </div>

            </div>


            <div class="tx-description-right">
              <span *ngIf="pnl !== 0" class="pnl-value"
                [ngClass]="{'positive': pnl > 0, 'negative': pnl < 0}">
                  <fa-icon *ngIf="pnl > 0"
                    [icon]="faArrowUp"></fa-icon>
                  <fa-icon *ngIf="pnl < 0"
                    [icon]="faArrowDown"></fa-icon>
                {{ pnl | number: '1.2-2' }}
              </span>

            </div>
          </div>
        </mat-panel-description>

      </mat-expansion-panel-header>

      <div class="expanded-panel-container" *ngIf="hasBeenExpanded">
        <div class="transaction-list">
          <div *ngFor="let tx of masterTransaction.transactions" class="transaction-item">
            <app-tx-entry [transaction]="tx"></app-tx-entry>
          </div>
        </div>
      </div>
      <div class="bottom-panel-container">

        <ng-container *ngIf="masterTransaction.externalId && masterTransaction.platform === 'Ethereum'">

          <div (click)="onRefreshClick()" class="refresh-icon">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="refresh"></mat-icon>
          </div>

          <a
            [href]="'https://etherscan.io/tx/' + masterTransaction.externalId"
            target="_blank"
            rel="noopener noreferrer"
            class="etherscan-link"
          >
            <img src="assets/etherscan.png" alt="Etherscan Logo" class="etherscan-icon"/>
          </a>
        </ng-container>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
</div>
