@import 'variables';

.mat-expansion-panel-header {
  height: 100% !important;
}

.master-transaction {
  padding: 5px;
}

.transaction-list {
}

.transaction-item {
}

.In {
  color: $green-from-theme;
}

.Fee,
.Out {
  color: $red-from-theme;
}

.Swap {
  color: #2353cd;
}

.action {
  font-size: min(calc(5px + 1vw), 14px);
}

.warning-icon {
  color: #ff7a2d;
  font-size: 18px;
  border: none;
  background-color: transparent;
  padding: 0 5px 0 0;

}

.positive {
  color: $green-from-theme;
}

.negative {
  color: $red-from-theme;
}

.icon-placeholder {
  width: 23px;
  height: 18px;
}

.tx-description-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tx-description-left {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .date {
    font-size: min(calc(2px + 0.8vw), 12px);
    line-height: 1
  }

}

.tx-description-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.tx-overview {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  font-size: min(calc(5px + 2vw), 20px);
  width: 100%;
}


.expanded-panel-container {
  padding-top: 10px;
}

.swap-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: min(calc(3px + 0.1vw), 10px);
}

.etherscan-icon {
  width: 20px;
  height: 20px;
}

.bottom-panel-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.refresh-icon {
  cursor: pointer;
}

.for {
  font-size: min(calc(2px + 0.8vw), 12px);
}

.fee-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.mat-expansion-panel-header {
  padding: min(calc(2px + 1vw), 24px)
}

.pnl-value {
  padding-right: 10px;
  font-size: min(calc(4px + 1vw), 12px)
}