<div class="master-transaction">


  <mat-accordion>
    <mat-expansion-panel [(expanded)]="isExpanded" (expandedChange)="onExpandedChange($event)">
      <mat-expansion-panel-header>

        <mat-panel-description>
          <ng-container *ngIf="!isValid(); else placeholder">
            <fa-icon class="warning-icon" [icon]="faWarning"></fa-icon>
          </ng-container>
          <ng-template #placeholder>
            <div class="icon-placeholder"></div>
          </ng-template>
          <div class="tx-overview">

            <div class="tx-description-left">


              <ng-container *ngIf="getType() === 'BUY'">
                <span class="Buy action">Buy</span>
              </ng-container>
              <ng-container *ngIf="getType() === 'SELL'">
                <span class="Sell action">Sell</span>
              </ng-container>
              <ng-container *ngIf="getType() === 'SWAP'">
                <span class="Swap action">Swap</span>
              </ng-container>
              <span class="date">{{ getDateTimeAtLocalFormat() }}</span>
            </div>
            <div class="tx-description-center">
              <ng-container *ngIf="getType() === 'SWAP'; else buyOrSell">
                <div class="swap-container">
                  <div class="sell-side">
                    <ng-container *ngFor="let tx of sellTxs">
                      <app-tx-info [tx]="tx"></app-tx-info>
                    </ng-container>
                  </div>
                  <span class="for">for</span>
                  <div class="buy-side">
                    <ng-container *ngFor="let tx of buyTxs">
                      <app-tx-info [tx]="tx"></app-tx-info>
                    </ng-container>
                  </div>
                </div>
              </ng-container>

              <ng-template #buyOrSell>
                <ng-container *ngFor="let tx of masterTransaction.transactions">
                  <app-tx-info [tx]="tx"></app-tx-info>
                </ng-container>
              </ng-template>
            </div>


            <div class="tx-description-right">
              <!--                              <span *ngIf="transaction.pnl?.value" class="pnl-value"-->
              <!--                                    [ngClass]="{'positive': transaction.pnl!.value! >= 0, 'negative': transaction.pnl!.value! < 0}">-->
              <!--                                  <fa-icon *ngIf="transaction.pnl!.value! >= 0" [icon]="faArrowUp"></fa-icon>-->
              <!--                                  <fa-icon *ngIf="transaction.pnl!.value! < 0" [icon]="faArrowDown"></fa-icon>-->
              <!--                                {{ transaction.pnl!.value! | number: '1.2-2' }}-->
              <!--                              </span>-->
              <!--                          <span *ngIf="transaction.pnl?.errorMessage" class="pnl-error">-->
              <!--                                <fa-icon [icon]="faWarning"></fa-icon>-->
              <!--                            {{ transaction.pnl!.errorMessage }}-->
              <!--                              </span>-->

            </div>
          </div>
        </mat-panel-description>

      </mat-expansion-panel-header>

      <div class="expanded-panel-container" *ngIf="hasBeenExpanded">
        <div class="transaction-list">
          <div *ngFor="let tx of masterTransaction.transactions" class="transaction-item">
            <app-tx-entry [transaction]="tx"></app-tx-entry>
          </div>
        </div>
      </div>
      <div class="bottom-panel-container">

        <ng-container *ngIf="masterTransaction.externalId && masterTransaction.platform === 'Ethereum'">

          <div (click)="onRefreshClick()" class="refresh-icon">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="refresh"></mat-icon>
          </div>

          <a
            [href]="'https://etherscan.io/tx/' + masterTransaction.externalId"
            target="_blank"
            rel="noopener noreferrer"
            class="etherscan-link"
          >
            <img src="assets/etherscan.png" alt="Etherscan Logo" class="etherscan-icon"/>
          </a>
        </ng-container>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
</div>
