@import 'variables';

mat-accordion {
  width: 100%;
}


.warning-icon {
  color: #ff7a2d;
  font-size: 18px;
  border: none;
  background-color: transparent;
  padding: 0 5px 0 0;

}

.title {
  display: flex;
  flex-direction: row;
  width: 80px
}

.icon-placeholder {
  width: 23px;
  height: 18px;
}



.right-align {
  text-align: right;
}





.positive {
  color: $green-from-theme;
}

.negative {
  color: $red-from-theme;
}

.pnl-value {
  padding-right: 10px;
}

.pnl-error {
  color: #a80000;
  font-size: min(calc(2px + 1vw), 12px);
  line-height: 1.2;
}


.tx-atomic-line {
  display: flex;
  flex-direction: row;
  align-items: center;

  mat-icon {
    cursor: pointer;
    margin-bottom: 25px;
  }

  /* Add this rule */
  mat-icon:hover + .tx-form {
    opacity: 0.5;
  }
}

.tx-form {
  width: 100%;
}
