@import 'variables';

mat-accordion {
  width: 100%;
}


.warning-icon {
  color: #ff7a2d;
  font-size: 18px;
  border: none;
  background-color: transparent;
  padding: 0 5px 0 0;

}

.title {
  display: flex;
  flex-direction: row;
  width: 80px
}

.icon-placeholder {
  width: 23px;
  height: 18px;
}



.right-align {
  text-align: right;
}

.tx-overview {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  font-size: min(calc(5px + 2vw), 20px);
  width: 100%;
}


.Buy {
  color: $green-from-theme;
  font-size: min(calc(10px + 1vw), 16px);
}

.Sell {
  color: $red-from-theme;
  font-size: min(calc(10px + 1vw), 16px);
}

.positive {
  color: $green-from-theme;
}

.negative {
  color: $red-from-theme;
}

.pnl-value {
  padding-right: 10px;
}

.pnl-error {
  color: #a80000;
  font-size: min(calc(2px + 1vw), 12px);
  line-height: 1.2;
}

.tx-description-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tx-description-left {
  display: flex;
  flex-direction: column;

  .date {
    font-size: min(calc(2px + 0.8vw), 12px);
    line-height: 1
  }

}

.tx-description-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.fiat-value {
  font-size: min(calc(2px + 1vw), 12px);
}

.etherscan-icon {
  width: 20px;
  height: 20px;
}

.bottom-panel-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
