
.tx-entry {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: Pacifico, "Roboto Light", serif;


  .number-input {
    width: 50px;
    text-align: center;
  }

}


.warning-icon {
  color: #ff7a2d;
  font-size: 18px;
  border: none;
  background-color: transparent;
  padding: 0 5px 0 0;

}

.title {
  display: flex;
  flex-direction: row;
  width: 80px
}

.icon-placeholder {
  width: 23px;
  height: 18px;
}

.input-container {
  display: flex;
  flex-direction: row;
}

.add-token {
  cursor: pointer;
  color: #0048ff;
}

.token-form {
  display: flex;
  flex-direction: column;
}

.right-align {
  text-align: right;
}

mat-form-field {
  width: 150px;
}

.tx-overview {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  font-size: min(calc(5px + 2vw), 20px);
  width: 100%;
}


.Buy {
  color: #059f00;
  font-size: min(calc(10px + 1vw), 16px);
}

.Sell {
  color: #a80000;
  font-size: min(calc(10px + 1vw), 16px);
}

.positive {
  color: #059f00;
}

.negative {
  color: #a80000;
}

.pnl-value {
  padding-right: 10px;
}

.pnl-error {
  color: #a80000;
  font-size: min(calc(2px + 1vw), 12px);
  line-height: 1.2;
}

.tx-description-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tx-description-left {
  display: flex;
  flex-direction: column;

  .date {
    font-size: min(calc(2px + 0.8vw), 12px);
    line-height: 1
  }

}

.tx-description-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.fiat-value {
  font-size: min(calc(2px + 1vw), 12px);
}

