

mat-sidenav-container {
  height: calc(100vh - 64px);
}
mat-sidenav {
  width: 250px;
  background-color: #e6eded;
  border-radius: 0;
  border: 2px solid rgba(183, 235, 255, 0.48);
}
.mat.sidenav-content {
  position: relative;
}
.toggle-button {
  position: absolute;
  top: 20px;
  background-color: #e6eded;
  z-index: 1000;

  border-radius: 0 30px 30px 0;
  border: 2px solid rgba(183, 235, 255, 0.48);
  color: rgba(57, 54, 54, 0.48);
  border-left: none;
  padding-right: 5px;
  cursor: pointer;
}

.profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 64px;
}
.profile-icon {
  margin-right: 10px;
}

.sidenav-content {
  margin-left: 40px;
}
.toggle-button-icon-close {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.toggle-button-icon-open {
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

.action-button {
  width: 100%;
}


