.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-toggle {
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: block;
  min-width: 130px;
  padding: 5px 0;
  margin: 2px 0 0;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown-menu li {
  padding: 5px 15px;
  cursor: pointer;
}
.dropdown-menu li:hover {
  background-color: #f8f9fa;
}
