<div class="container">
    <button (click)="generateLedgerBook()" class="btn-generate-ledger-book btn-green"> generate Ledger book</button>

    <div *ngIf="ledgerBook">
      <select name="oldToken" (change)="onTokenChange($event)">
        <option value="" disabled selected>Choose a oldToken</option>
        <option *ngFor="let oldToken of getTokens()" [value]="oldToken">{{ oldToken }}</option>
      </select>
    </div>
  <div class="graph-container">
    <app-timeline-graph *ngFor="let oldToken of tokens"
                        [timeline]="timeline.get(oldToken)!"
                        [token]="oldToken">
    </app-timeline-graph>
  </div>

</div>
