<div class="container">
    <button (click)="generateLedgerBook()" class="btn-generate-ledger-book btn-green"> generate Ledger book</button>

    <div *ngIf="ledgerBook">
      <select name="token" (change)="onTokenChange($event)">
        <option value="" disabled selected>Choose a token</option>
        <option *ngFor="let token of getTokens()" [value]="token">{{ token }}</option>
      </select>
    </div>
  <div class="graph-container">
    <app-timeline-graph *ngFor="let token of tokens"
                        [timeline]="timeline.get(token)!"
                        [token]="token">

    </app-timeline-graph>
  </div>

</div>
